.table-border {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
    0px 10px 16px rgba(20, 37, 63, 0.06);
}

.download-btn {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 6px;
}

.active-page {
  background-color: #fff;
  font-weight: bold;
}
.mat-table {
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0 4px !important;
}
.mat-row:hover {
  background-color: #F8F8F8;
}

.date-filter {
  text-align: right;
}