/* You can add global styles to this file, and also import other style files */
// @include "node"

/* autoprefixer: off */
@import "@webpixels/css/core/functions";

// Your theme's variables
@import "./app/variables";

// Webpixels' CSS
@import "@webpixels/css/base";
@import "@webpixels/css/forms";
@import "@webpixels/css/components";
@import "@webpixels/css/utilities";

@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "./app/custom";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular Material default theme
@import "./indigo-pink.css"